In [1]:
import numpy as np
import pandas as pd

import warnings
warnings.filterwarnings('ignore')

import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.animation as animation


import plotly.express as px
import plotly.graph_objects as go
import plotly.figure_factory as ff

# Step 1: Loading Dataset

In [2]:
# Load the dataset
df = pd.read_csv("AMZN_quarterly_income_statement.csv")

# Removing leading and trailing spaces from column names
df.columns = df.columns.str.strip()

# Using a regular expression to replace multiple spaces with a single space in all column names
df.columns = df.columns.str.replace(r'\s+', ' ', regex=True)

# Step 2: Overview of Dataset

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65 entries, 0 to 64
Data columns (total 26 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   fiscalDateEnding                   65 non-null     object
 1   reportedCurrency                   65 non-null     object
 2   grossProfit                        65 non-null     int64
 3   totalRevenue                       65 non-null     int64
 4   costOfRevenue                      65 non-null     int64
 5   costofGoodsAndServicesSold         65 non-null     int64
 6   operatingIncome                    65 non-null     int64
 7   sellingGeneralAndAdministrative    65 non-null     int64
 8   researchAndDevelopment             65 non-null     int64
 9   operatingExpenses                  65 non-null     int64
 10  investmentIncomeNet                61 non-null     float64
 11  netInterestIncome                  60 non-null     float64
 12  interestIncome                     21 non-null     float64
 13  interestExpense                    65 non-null     int64
 14  nonInterestIncome                  30 non-null     float64
 15  otherNonOperatingIncome            65 non-null     int64
 16  depreciation                       0 non-null      float64
 17  depreciationAndAmortization        65 non-null     int64
 18  incomeBeforeTax                    65 non-null     int64
 19  incomeTaxExpense                   65 non-null     int64
 20  interestAndDebtExpense             61 non-null     float64
 21  netIncomeFromContinuingOperations  61 non-null     float64
 22  comprehensiveIncomeNetOfTax        61 non-null     float64
 23  ebit                               65 non-null     int64
 24  ebitda                             65 non-null     int64
 25  netIncome                          65 non-null     int64
dtypes: float64(8), int64(16), object(2)
memory usage: 13.3+ KB

In [4]:
df.head(20)

,fiscalDateEnding,reportedCurrency,grossProfit,totalRevenue,costOfRevenue,costofGoodsAndServicesSold,operatingIncome,sellingGeneralAndAdministrative,researchAndDevelopment,operatingExpenses,...,depreciation,depreciationAndAmortization,incomeBeforeTax,incomeTaxExpense,interestAndDebtExpense,netIncomeFromContinuingOperations,comprehensiveIncomeNetOfTax,ebit,ebitda,netIncome
0,2024-06-30,USD,59553000000,147839000000,88286000000,73785000000,14672000000,13553000000,22304000000,14501000000,...,NaN,948000000,15252000000,1767000000,589000000.0,1.348500e+10,1.309000e+10,14672000000,15620000000,13485000000
1,2024-03-31,USD,56617000000,142595000000,85978000000,72633000000,15307000000,12404000000,16960000000,13345000000,...,NaN,941000000,12898000000,2467000000,644000000.0,1.043100e+10,9.873000e+09,13542000000,14483000000,10431000000
2,2023-12-31,USD,39401000000,169328000000,129927000000,92553000000,13209000000,36212000000,22038000000,39274000000,...,NaN,2082000000,13666000000,3042000000,713000000.0,1.064400e+10,1.258700e+10,14379000000,16461000000,10624000000
3,2023-09-30,USD,52610000000,142183000000,89573000000,75022000000,11188000000,13112000000,21203000000,14551000000,...,NaN,1439000000,12185000000,2306000000,806000000.0,9.879000e+09,8.556000e+09,12991000000,14430000000,9879000000
4,2023-06-30,USD,48693000000,133552000000,84859000000,69373000000,7681000000,13947000000,18829000000,15486000000,...,NaN,1539000000,7554000000,804000000,840000000.0,6.750000e+09,7.043000e+09,8394000000,9933000000,6750000000
5,2023-03-31,USD,43403000000,126605000000,83202000000,67791000000,4774000000,13215000000,17420000000,15411000000,...,NaN,1546000000,4120000000,948000000,823000000.0,3.172000e+09,3.686000e+09,4943000000,6489000000,3172000000
6,2022-12-31,USD,-1360000000,148376000000,1360000000,85640000000,2737000000,36751000000,3653000000,1360000000,...,NaN,2118000000,-949000000,-1227000000,694000000.0,-2.720000e+09,2.906000e+09,-255000000,1863000000,278000000
7,2022-09-30,USD,40542000000,126381000000,85839000000,70268000000,2525000000,14075000000,16787000000,15571000000,...,NaN,1496000000,2941000000,69000000,617000000.0,2.872000e+09,5.390000e+08,3558000000,5054000000,2872000000
8,2022-06-30,USD,39590000000,120533000000,80943000000,66424000000,3317000000,12989000000,15468000000,14519000000,...,NaN,1530000000,-2665000000,-637000000,584000000.0,-2.028000e+09,-4.445000e+09,-2081000000,-551000000,-2028000000
9,2022-03-31,USD,37013000000,115986000000,78973000000,66499000000,3669000000,10914000000,12270000000,12474000000,...,NaN,1560000000,-5266000000,-1422000000,472000000.0,-3.844000e+09,-4.833000e+09,-4794000000,-3234000000,-3844000000
10,2021-12-31,USD,20863000000,136903000000,116040000000,82835000000,3460000000,30235000000,2001000000,34205000000,...,NaN,2970000000,14935000000,612000000,482000000.0,1.431400e+10,1.402200e+10,15417000000,18387000000,14323000000
11,2021-09-30,USD,34622000000,110212000000,75590000000,62930000000,4852000000,10163000000,12097000000,12660000000,...,NaN,2497000000,4311000000,1155000000,493000000.0,3.156000e+09,2.606000e+09,4804000000,7301000000,3156000000
12,2021-06-30,USD,36408000000,112755000000,76347000000,64176000000,7702000000,9682000000,11794000000,12171000000,...,NaN,2489000000,8646000000,868000000,435000000.0,7.778000e+09,7.919000e+09,9081000000,11570000000,7778000000
13,2021-03-31,USD,35035000000,108088000000,73053000000,62403000000,8865000000,8194000000,10584000000,10650000000,...,NaN,2456000000,10263000000,2156000000,399000000.0,8.107000e+09,7.621000e+09,10662000000,13118000000,8107000000
14,2020-12-31,USD,125555000000,125555000000,102441000000,79284000000,6873000000,20271000000,5242000000,24557000000,...,NaN,2886000000,7788000000,566000000,414000000.0,7.199000e+09,8.071000e+09,8202000000,11088000000,7222000000
15,2020-09-30,USD,29309000000,95717000000,66408000000,57106000000,6194000000,7102000000,9334000000,9302000000,...,NaN,2200000000,6900000000,569000000,428000000.0,6.331000e+09,6.757000e+09,7328000000,9528000000,6331000000
16,2020-06-30,USD,27895000000,88509000000,60614000000,52660000000,5843000000,5925000000,8945000000,7954000000,...,NaN,2029000000,6227000000,984000000,403000000.0,5.243000e+09,5.851000e+09,6630000000,8659000000,5243000000
17,2020-03-31,USD,22619000000,75050000000,52431000000,44257000000,3989000000,6280000000,7993000000,8174000000,...,NaN,1894000000,3279000000,744000000,402000000.0,2.535000e+09,1.458000e+09,3681000000,5575000000,2535000000
18,2019-12-31,USD,87437000000,87437000000,75900000000,53977000000,3879000000,18583000000,9740000000,22988000000,...,NaN,3340000000,4054000000,786000000,455000000.0,3.267000e+09,3.711000e+09,4509000000,7849000000,3268000000
19,2019-09-30,USD,19574000000,69585000000,50011000000,41302000000,3157000000,6100000000,8022000000,8764000000,...,NaN,2609000000,2628000000,494000000,396000000.0,2.134000e+09,1.665000e+09,3024000000,5633000000,2134000000

# Step 3: EDA - Missing Values Analysis

## Step 3)i): EDA - Show Missing Values in each Column

In [5]:
def display_columns_with_null_values(df: pd.DataFrame):
    """
    Displays the total number of null values for each column in the dataframe,
    showing only columns that have null values.
    
    Parameters:
    - df (pd.DataFrame): The dataframe to be checked for null values.
    
    Returns:
    - None: Prints the columns with null values and their counts.
    """
    
    # Get total null values in each column
    total_null_values = df.isnull().sum()
    
    # Filter out columns that don't have any null values
    columns_with_null = total_null_values[total_null_values > 0].sort_values(ascending=False)
    
    # Check if there are any columns with null values
    if not columns_with_null.empty:
        print('-' * 64)
        print("Total null values in each column (only columns with null values)")
        print('-' * 64)
        print(columns_with_null)
    else:
        print('-' * 64)
        print("Total null values in each column (only columns with null values)")
        print('-' * 64)
        print("No columns have null values.")

In [6]:
# Get percentage of null values in each column
null_values_percentage = df.isnull().mean().round(4).mul(100).sort_values(ascending=False)
print('-' * 44)
print("Percentage(%) of null values in each column")
print('-' * 44)
print(null_values_percentage)
print('\n')

# Get total null values in each column
display_columns_with_null_values(df)

--------------------------------------------
Percentage(%) of null values in each column
--------------------------------------------
depreciation                         100.00
interestIncome                        67.69
nonInterestIncome                     53.85
netInterestIncome                      7.69
comprehensiveIncomeNetOfTax            6.15
netIncomeFromContinuingOperations      6.15
interestAndDebtExpense                 6.15
investmentIncomeNet                    6.15
fiscalDateEnding                       0.00
otherNonOperatingIncome                0.00
ebitda                                 0.00
ebit                                   0.00
incomeTaxExpense                       0.00
incomeBeforeTax                        0.00
depreciationAndAmortization            0.00
interestExpense                        0.00
reportedCurrency                       0.00
operatingExpenses                      0.00
researchAndDevelopment                 0.00
sellingGeneralAndAdministrative        0.00
operatingIncome                        0.00
costofGoodsAndServicesSold             0.00
costOfRevenue                          0.00
totalRevenue                           0.00
grossProfit                            0.00
netIncome                              0.00
dtype: float64


----------------------------------------------------------------
Total null values in each column (only columns with null values)
----------------------------------------------------------------
depreciation                         65
interestIncome                       44
nonInterestIncome                    35
netInterestIncome                     5
investmentIncomeNet                   4
interestAndDebtExpense                4
netIncomeFromContinuingOperations     4
comprehensiveIncomeNetOfTax           4
dtype: int64

## Step 3)ii): EDA - Handling Missing Values

In [7]:
# Drop Columns with Majority Null Values
df.drop(["depreciation", 
         "interestIncome",
         "nonInterestIncome"
         ], axis=1, inplace=True)

# Get total null values in each column
display_columns_with_null_values(df)

----------------------------------------------------------------
Total null values in each column (only columns with null values)
----------------------------------------------------------------
netInterestIncome                    5
investmentIncomeNet                  4
interestAndDebtExpense               4
netIncomeFromContinuingOperations    4
comprehensiveIncomeNetOfTax          4
dtype: int64

In [8]:
# Fill Null Values in the Remaining Columns with the average of the column
numeric_df = df.select_dtypes(include=[np.number]) # Select only numeric columns
numeric_df.fillna(numeric_df.mean(), inplace=True)  # Fill missing values in numeric columns with the column mean
df[numeric_df.columns] = numeric_df # Merge back with non-numeric columns if needed

# Get total null values in each column
display_columns_with_null_values(df)

----------------------------------------------------------------
Total null values in each column (only columns with null values)
----------------------------------------------------------------
No columns have null values.

In [9]:
df.head(20)

,fiscalDateEnding,reportedCurrency,grossProfit,totalRevenue,costOfRevenue,costofGoodsAndServicesSold,operatingIncome,sellingGeneralAndAdministrative,researchAndDevelopment,operatingExpenses,...,otherNonOperatingIncome,depreciationAndAmortization,incomeBeforeTax,incomeTaxExpense,interestAndDebtExpense,netIncomeFromContinuingOperations,comprehensiveIncomeNetOfTax,ebit,ebitda,netIncome
0,2024-06-30,USD,59553000000,147839000000,88286000000,73785000000,14672000000,13553000000,22304000000,14501000000,...,-18000000,948000000,15252000000,1767000000,589000000.0,1.348500e+10,1.309000e+10,14672000000,15620000000,13485000000
1,2024-03-31,USD,56617000000,142595000000,85978000000,72633000000,15307000000,12404000000,16960000000,13345000000,...,-2673000000,941000000,12898000000,2467000000,644000000.0,1.043100e+10,9.873000e+09,13542000000,14483000000,10431000000
2,2023-12-31,USD,39401000000,169328000000,129927000000,92553000000,13209000000,36212000000,22038000000,39274000000,...,289000000,2082000000,13666000000,3042000000,713000000.0,1.064400e+10,1.258700e+10,14379000000,16461000000,10624000000
3,2023-09-30,USD,52610000000,142183000000,89573000000,75022000000,11188000000,13112000000,21203000000,14551000000,...,1031000000,1439000000,12185000000,2306000000,806000000.0,9.879000e+09,8.556000e+09,12991000000,14430000000,9879000000
4,2023-06-30,USD,48693000000,133552000000,84859000000,69373000000,7681000000,13947000000,18829000000,15486000000,...,61000000,1539000000,7554000000,804000000,840000000.0,6.750000e+09,7.043000e+09,8394000000,9933000000,6750000000
5,2023-03-31,USD,43403000000,126605000000,83202000000,67791000000,4774000000,13215000000,17420000000,15411000000,...,-443000000,1546000000,4120000000,948000000,823000000.0,3.172000e+09,3.686000e+09,4943000000,6489000000,3172000000
6,2022-12-31,USD,-1360000000,148376000000,1360000000,85640000000,2737000000,36751000000,3653000000,1360000000,...,-3450000000,2118000000,-949000000,-1227000000,694000000.0,-2.720000e+09,2.906000e+09,-255000000,1863000000,278000000
7,2022-09-30,USD,40542000000,126381000000,85839000000,70268000000,2525000000,14075000000,16787000000,15571000000,...,759000000,1496000000,2941000000,69000000,617000000.0,2.872000e+09,5.390000e+08,3558000000,5054000000,2872000000
8,2022-06-30,USD,39590000000,120533000000,80943000000,66424000000,3317000000,12989000000,15468000000,14519000000,...,-5545000000,1530000000,-2665000000,-637000000,584000000.0,-2.028000e+09,-4.445000e+09,-2081000000,-551000000,-2028000000
9,2022-03-31,USD,37013000000,115986000000,78973000000,66499000000,3669000000,10914000000,12270000000,12474000000,...,-8570000000,1560000000,-5266000000,-1422000000,472000000.0,-3.844000e+09,-4.833000e+09,-4794000000,-3234000000,-3844000000
10,2021-12-31,USD,20863000000,136903000000,116040000000,82835000000,3460000000,30235000000,2001000000,34205000000,...,11838000000,2970000000,14935000000,612000000,482000000.0,1.431400e+10,1.402200e+10,15417000000,18387000000,14323000000
11,2021-09-30,USD,34622000000,110212000000,75590000000,62930000000,4852000000,10163000000,12097000000,12660000000,...,-163000000,2497000000,4311000000,1155000000,493000000.0,3.156000e+09,2.606000e+09,4804000000,7301000000,3156000000
12,2021-06-30,USD,36408000000,112755000000,76347000000,64176000000,7702000000,9682000000,11794000000,12171000000,...,1261000000,2489000000,8646000000,868000000,435000000.0,7.778000e+09,7.919000e+09,9081000000,11570000000,7778000000
13,2021-03-31,USD,35035000000,108088000000,73053000000,62403000000,8865000000,8194000000,10584000000,10650000000,...,1697000000,2456000000,10263000000,2156000000,399000000.0,8.107000e+09,7.621000e+09,10662000000,13118000000,8107000000
14,2020-12-31,USD,125555000000,125555000000,102441000000,79284000000,6873000000,20271000000,5242000000,24557000000,...,1206000000,2886000000,7788000000,566000000,414000000.0,7.199000e+09,8.071000e+09,8202000000,11088000000,7222000000
15,2020-09-30,USD,29309000000,95717000000,66408000000,57106000000,6194000000,7102000000,9334000000,9302000000,...,925000000,2200000000,6900000000,569000000,428000000.0,6.331000e+09,6.757000e+09,7328000000,9528000000,6331000000
16,2020-06-30,USD,27895000000,88509000000,60614000000,52660000000,5843000000,5925000000,8945000000,7954000000,...,646000000,2029000000,6227000000,984000000,403000000.0,5.243000e+09,5.851000e+09,6630000000,8659000000,5243000000
17,2020-03-31,USD,22619000000,75050000000,52431000000,44257000000,3989000000,6280000000,7993000000,8174000000,...,-406000000,1894000000,3279000000,744000000,402000000.0,2.535000e+09,1.458000e+09,3681000000,5575000000,2535000000
18,2019-12-31,USD,87437000000,87437000000,75900000000,53977000000,3879000000,18583000000,9740000000,22988000000,...,418000000,3340000000,4054000000,786000000,455000000.0,3.267000e+09,3.711000e+09,4509000000,7849000000,3268000000
19,2019-09-30,USD,19574000000,69585000000,50011000000,41302000000,3157000000,6100000000,8022000000,8764000000,...,-353000000,2609000000,2628000000,494000000,396000000.0,2.134000e+09,1.665000e+09,3024000000,5633000000,2134000000

# Step 4: EDA - Duplicate Values Analysis

## Step 4)i): EDA - Show Duplicate Values Rows

In [10]:
# Get percentage of duplicate rows
total_rows = len(df)
duplicate_rows = df.duplicated().sum()
duplicate_percentage = (duplicate_rows / total_rows) * 100

print('-' * 48)
print("Percentage(%) of duplicate rows in the DataFrame")
print('-' * 48)
print(f"{duplicate_percentage:.2f}%")
print('\n')

# Get total number of duplicate rows
print('-' * 30)
print("Total number of duplicate rows")
print('-' * 30)
print(duplicate_rows)

------------------------------------------------
Percentage(%) of duplicate rows in the DataFrame
------------------------------------------------
0.00%


------------------------------
Total number of duplicate rows
------------------------------
0

## Step 4)ii): EDA - Handling Duplicate Values Rows

In [11]:
# # Drop all duplicate rows
# df_cleaned = df.drop_duplicates()

# print('-' * 22)
# print("Duplicate rows dropped")
# print('-' * 22)
# print(f"Original number of rows: {total_rows}")
# print(f"Number of rows after dropping duplicates: {len(df_cleaned)}")

# Step 5): EDA - Save Cleaned Dataset

In [12]:
# save to csv
df.to_csv(f'DC_AMZN_quarterly_income_statement.csv')