In [1]:
import pandas as pd
from statsmodels.tsa.arima.model import ARIMA
import matplotlib.pyplot as plt
import pprint as pp
import requests

In [2]:
# Get Durable Goods 

api_key = 'YOUR_API_KEY'

url = f'https://www.alphavantage.co/query?function=DURABLES&apikey={api_key}'
r = requests.get(url)
data = r.json()

In [3]:
data.keys()

dict_keys(['name', 'interval', 'unit', 'data'])

In [4]:
pp.pprint(data)

{'data': [{'date': '2024-08-01', 'value': '289211.0'},
          {'date': '2024-07-01', 'value': '268942.0'},
          {'date': '2024-06-01', 'value': '287595.0'},
          {'date': '2024-05-01', 'value': '284736.0'},
          {'date': '2024-04-01', 'value': '275566.0'},
          {'date': '2024-03-01', 'value': '305526.0'},
          {'date': '2024-02-01', 'value': '268258.0'},
          {'date': '2024-01-01', 'value': '252522.0'},
          {'date': '2023-12-01', 'value': '299969.0'},
          {'date': '2023-11-01', 'value': '286515.0'},
          {'date': '2023-10-01', 'value': '278895.0'},
          {'date': '2023-09-01', 'value': '308103.0'},
          {'date': '2023-08-01', 'value': '290578.0'},
          {'date': '2023-07-01', 'value': '261612.0'},
          {'date': '2023-06-01', 'value': '324238.0'},
          {'date': '2023-05-01', 'value': '288640.0'},
          {'date': '2023-04-01', 'value': '272375'},
          {'date': '2023-03-01', 'value': '312535'},
          {'date': '2023-02-01', 'value': '256827'},
          {'date': '2023-01-01', 'value': '254810'},
          {'date': '2022-12-01', 'value': '290149'},
          {'date': '2022-11-01', 'value': '260444'},
          {'date': '2022-10-01', 'value': '276884'},
          {'date': '2022-09-01', 'value': '291058'},
          {'date': '2022-08-01', 'value': '282058'},
          {'date': '2022-07-01', 'value': '254244'},
          {'date': '2022-06-01', 'value': '297467'},
          {'date': '2022-05-01', 'value': '268450'},
          {'date': '2022-04-01', 'value': '265210'},
          {'date': '2022-03-01', 'value': '298698'},
          {'date': '2022-02-01', 'value': '256201'},
          {'date': '2022-01-01', 'value': '249090'},
          {'date': '2021-12-01', 'value': '277162'},
          {'date': '2021-11-01', 'value': '252835'},
          {'date': '2021-10-01', 'value': '255674'},
          {'date': '2021-09-01', 'value': '267847'},
          {'date': '2021-08-01', 'value': '261167'},
          {'date': '2021-07-01', 'value': '236768'},
          {'date': '2021-06-01', 'value': '270551'},
          {'date': '2021-05-01', 'value': '243078'},
          {'date': '2021-04-01', 'value': '243549'},
          {'date': '2021-03-01', 'value': '274247'},
          {'date': '2021-02-01', 'value': '233531'},
          {'date': '2021-01-01', 'value': '220753'},
          {'date': '2020-12-01', 'value': '242930'},
          {'date': '2020-11-01', 'value': '220655'},
          {'date': '2020-10-01', 'value': '233663'},
          {'date': '2020-09-01', 'value': '238016'},
          {'date': '2020-08-01', 'value': '221265'},
          {'date': '2020-07-01', 'value': '206285'},
          {'date': '2020-06-01', 'value': '214072'},
          {'date': '2020-05-01', 'value': '175703'},
          {'date': '2020-04-01', 'value': '157561'},
          {'date': '2020-03-01', 'value': '220693'},
          {'date': '2020-02-01', 'value': '227138'},
          {'date': '2020-01-01', 'value': '213007'},
          {'date': '2019-12-01', 'value': '221440'},
          {'date': '2019-11-01', 'value': '204977'},
          {'date': '2019-10-01', 'value': '227950'},
          {'date': '2019-09-01', 'value': '230879'},
          {'date': '2019-08-01', 'value': '230146'},
          {'date': '2019-07-01', 'value': '210957'},
          {'date': '2019-06-01', 'value': '233532'},
          {'date': '2019-05-01', 'value': '222308'},
          {'date': '2019-04-01', 'value': '223136'},
          {'date': '2019-03-01', 'value': '256782'},
          {'date': '2019-02-01', 'value': '213183'},
          {'date': '2019-01-01', 'value': '212040'},
          {'date': '2018-12-01', 'value': '244033'},
          {'date': '2018-11-01', 'value': '228715'},
          {'date': '2018-10-01', 'value': '241698'},
          {'date': '2018-09-01', 'value': '250482'},
          {'date': '2018-08-01', 'value': '251047'},
          {'date': '2018-07-01', 'value': '215563'},
          {'date': '2018-06-01', 'value': '261303'},
          {'date': '2018-05-01', 'value': '241381'},
          {'date': '2018-04-01', 'value': '232566'},
          {'date': '2018-03-01', 'value': '267966'},
          {'date': '2018-02-01', 'value': '220102'},
          {'date': '2018-01-01', 'value': '204233'},
          {'date': '2017-12-01', 'value': '245890'},
          {'date': '2017-11-01', 'value': '227489'},
          {'date': '2017-10-01', 'value': '228903'},
          {'date': '2017-09-01', 'value': '238111'},
          {'date': '2017-08-01', 'value': '226802'},
          {'date': '2017-07-01', 'value': '198965'},
          {'date': '2017-06-01', 'value': '260483'},
          {'date': '2017-05-01', 'value': '221670'},
          {'date': '2017-04-01', 'value': '211837'},
          {'date': '2017-03-01', 'value': '250539'},
          {'date': '2017-02-01', 'value': '207597'},
          {'date': '2017-01-01', 'value': '192655'},
          {'date': '2016-12-01', 'value': '229243'},
          {'date': '2016-11-01', 'value': '213364'},
          {'date': '2016-10-01', 'value': '231422'},
          {'date': '2016-09-01', 'value': '230956'},
          {'date': '2016-08-01', 'value': '221537'},
          {'date': '2016-07-01', 'value': '197867'},
          {'date': '2016-06-01', 'value': '230820'},
          {'date': '2016-05-01', 'value': '217981'},
          {'date': '2016-04-01', 'value': '221215'},
          {'date': '2016-03-01', 'value': '243551'},
          {'date': '2016-02-01', 'value': '211114'},
          {'date': '2016-01-01', 'value': '199424'},
          {'date': '2015-12-01', 'value': '230959'},
          {'date': '2015-11-01', 'value': '216692'},
          {'date': '2015-10-01', 'value': '228138'},
          {'date': '2015-09-01', 'value': '231339'},
          {'date': '2015-08-01', 'value': '218267'},
          {'date': '2015-07-01', 'value': '216803'},
          {'date': '2015-06-01', 'value': '252759'},
          {'date': '2015-05-01', 'value': '211139'},
          {'date': '2015-04-01', 'value': '220091'},
          {'date': '2015-03-01', 'value': '249239'},
          {'date': '2015-02-01', 'value': '206166'},
          {'date': '2015-01-01', 'value': '200582'},
          {'date': '2014-12-01', 'value': '240457'},
          {'date': '2014-11-01', 'value': '216401'},
          {'date': '2014-10-01', 'value': '238710'},
          {'date': '2014-09-01', 'value': '249698'},
          {'date': '2014-08-01', 'value': '231195'},
          {'date': '2014-07-01', 'value': '286876'},
          {'date': '2014-06-01', 'value': '257228'},
          {'date': '2014-05-01', 'value': '231723'},
          {'date': '2014-04-01', 'value': '231365'},
          {'date': '2014-03-01', 'value': '251763'},
          {'date': '2014-02-01', 'value': '221433'},
          {'date': '2014-01-01', 'value': '203981'},
          {'date': '2013-12-01', 'value': '250119'},
          {'date': '2013-11-01', 'value': '233300'},
          {'date': '2013-10-01', 'value': '236784'},
          {'date': '2013-09-01', 'value': '248206'},
          {'date': '2013-08-01', 'value': '224074'},
          {'date': '2013-07-01', 'value': '208090'},
          {'date': '2013-06-01', 'value': '260225'},
          {'date': '2013-05-01', 'value': '238678'},
          {'date': '2013-04-01', 'value': '221353'},
          {'date': '2013-03-01', 'value': '232999'},
          {'date': '2013-02-01', 'value': '225639'},
          {'date': '2013-01-01', 'value': '204169'},
          {'date': '2012-12-01', 'value': '239368'},
          {'date': '2012-11-01', 'value': '209712'},
          {'date': '2012-10-01', 'value': '222736'},
          {'date': '2012-09-01', 'value': '223423'},
          {'date': '2012-08-01', 'value': '204001'},
          {'date': '2012-07-01', 'value': '206771'},
          {'date': '2012-06-01', 'value': '233259'},
          {'date': '2012-05-01', 'value': '220785'},
          {'date': '2012-04-01', 'value': '210894'},
          {'date': '2012-03-01', 'value': '240680'},
          {'date': '2012-02-01', 'value': '224922'},
          {'date': '2012-01-01', 'value': '204013'},
          {'date': '2011-12-01', 'value': '237529'},
          {'date': '2011-11-01', 'value': '206403'},
          {'date': '2011-10-01', 'value': '206574'},
          {'date': '2011-09-01', 'value': '221336'},
          {'date': '2011-08-01', 'value': '216719'},
          {'date': '2011-07-01', 'value': '189215'},
          {'date': '2011-06-01', 'value': '216548'},
          {'date': '2011-05-01', 'value': '205025'},
          {'date': '2011-04-01', 'value': '194922'},
          {'date': '2011-03-01', 'value': '233078'},
          {'date': '2011-02-01', 'value': '187466'},
          {'date': '2011-01-01', 'value': '184037'},
          {'date': '2010-12-01', 'value': '209011'},
          {'date': '2010-11-01', 'value': '186603'},
          {'date': '2010-10-01', 'value': '192327'},
          {'date': '2010-09-01', 'value': '213131'},
          {'date': '2010-08-01', 'value': '191888'},
          {'date': '2010-07-01', 'value': '174685'},
          {'date': '2010-06-01', 'value': '200080'},
          {'date': '2010-05-01', 'value': '183535'},
          {'date': '2010-04-01', 'value': '181528'},
          {'date': '2010-03-01', 'value': '199993'},
          {'date': '2010-02-01', 'value': '169065'},
          {'date': '2010-01-01', 'value': '163488'},
          {'date': '2009-12-01', 'value': '174485'},
          {'date': '2009-11-01', 'value': '151230'},
          {'date': '2009-10-01', 'value': '163196'},
          {'date': '2009-09-01', 'value': '168746'},
          {'date': '2009-08-01', 'value': '155455'},
          {'date': '2009-07-01', 'value': '145376'},
          {'date': '2009-06-01', 'value': '157122'},
          {'date': '2009-05-01', 'value': '145714'},
          {'date': '2009-04-01', 'value': '139893'},
          {'date': '2009-03-01', 'value': '162107'},
          {'date': '2009-02-01', 'value': '137245'},
          {'date': '2009-01-01', 'value': '138218'},
          {'date': '2008-12-01', 'value': '191734'},
          {'date': '2008-11-01', 'value': '169856'},
          {'date': '2008-10-01', 'value': '197291'},
          {'date': '2008-09-01', 'value': '224233'},
          {'date': '2008-08-01', 'value': '214872'},
          {'date': '2008-07-01', 'value': '205540'},
          {'date': '2008-06-01', 'value': '242479'},
          {'date': '2008-05-01', 'value': '227995'},
          {'date': '2008-04-01', 'value': '225075'},
          {'date': '2008-03-01', 'value': '250906'},
          {'date': '2008-02-01', 'value': '229870'},
          {'date': '2008-01-01', 'value': '219946'},
          {'date': '2007-12-01', 'value': '254048'},
          {'date': '2007-11-01', 'value': '224134'},
          {'date': '2007-10-01', 'value': '235158'},
          {'date': '2007-09-01', 'value': '232386'},
          {'date': '2007-08-01', 'value': '241388'},
          {'date': '2007-07-01', 'value': '211263'},
          {'date': '2007-06-01', 'value': '243703'},
          {'date': '2007-05-01', 'value': '229326'},
          {'date': '2007-04-01', 'value': '225558'},
          {'date': '2007-03-01', 'value': '252090'},
          {'date': '2007-02-01', 'value': '211359'},
          {'date': '2007-01-01', 'value': '204185'},
          {'date': '2006-12-01', 'value': '236933'},
          {'date': '2006-11-01', 'value': '218853'},
          {'date': '2006-10-01', 'value': '219885'},
          {'date': '2006-09-01', 'value': '243185'},
          {'date': '2006-08-01', 'value': '215695'},
          {'date': '2006-07-01', 'value': '186090'},
          {'date': '2006-06-01', 'value': '237564'},
          {'date': '2006-05-01', 'value': '217869'},
          {'date': '2006-04-01', 'value': '206157'},
          {'date': '2006-03-01', 'value': '252659'},
          {'date': '2006-02-01', 'value': '209478'},
          {'date': '2006-01-01', 'value': '191920'},
          {'date': '2005-12-01', 'value': '229512'},
          {'date': '2005-11-01', 'value': '215562'},
          {'date': '2005-10-01', 'value': '211650'},
          {'date': '2005-09-01', 'value': '214582'},
          {'date': '2005-08-01', 'value': '209010'},
          {'date': '2005-07-01', 'value': '169437'},
          {'date': '2005-06-01', 'value': '224203'},
          {'date': '2005-05-01', 'value': '205691'},
          {'date': '2005-04-01', 'value': '190899'},
          {'date': '2005-03-01', 'value': '209708'},
          {'date': '2005-02-01', 'value': '188951'},
          {'date': '2005-01-01', 'value': '177594'},
          {'date': '2004-12-01', 'value': '201172'},
          {'date': '2004-11-01', 'value': '188131'},
          {'date': '2004-10-01', 'value': '186918'},
          {'date': '2004-09-01', 'value': '197167'},
          {'date': '2004-08-01', 'value': '184662'},
          {'date': '2004-07-01', 'value': '163925'},
          {'date': '2004-06-01', 'value': '197458'},
          {'date': '2004-05-01', 'value': '181865'},
          {'date': '2004-04-01', 'value': '183752'},
          {'date': '2004-03-01', 'value': '214611'},
          {'date': '2004-02-01', 'value': '180111'},
          {'date': '2004-01-01', 'value': '164926'},
          {'date': '2003-12-01', 'value': '187904'},
          {'date': '2003-11-01', 'value': '173368'},
          {'date': '2003-10-01', 'value': '190591'},
          {'date': '2003-09-01', 'value': '187270'},
          {'date': '2003-08-01', 'value': '170612'},
          {'date': '2003-07-01', 'value': '150336'},
          {'date': '2003-06-01', 'value': '183990'},
          {'date': '2003-05-01', 'value': '172361'},
          {'date': '2003-04-01', 'value': '168168'},
          {'date': '2003-03-01', 'value': '188854'},
          {'date': '2003-02-01', 'value': '169363'},
          {'date': '2003-01-01', 'value': '160196'},
          {'date': '2002-12-01', 'value': '167098'},
          {'date': '2002-11-01', 'value': '164310'},
          {'date': '2002-10-01', 'value': '174042'},
          {'date': '2002-09-01', 'value': '174195'},
          {'date': '2002-08-01', 'value': '176987'},
          {'date': '2002-07-01', 'value': '151584'},
          {'date': '2002-06-01', 'value': '173578'},
          {'date': '2002-05-01', 'value': '176314'},
          {'date': '2002-04-01', 'value': '170163'},
          {'date': '2002-03-01', 'value': '183541'},
          {'date': '2002-02-01', 'value': '167694'},
          {'date': '2002-01-01', 'value': '152537'},
          {'date': '2001-12-01', 'value': '170130'},
          {'date': '2001-11-01', 'value': '160265'},
          {'date': '2001-10-01', 'value': '175302'},
          {'date': '2001-09-01', 'value': '169765'},
          {'date': '2001-08-01', 'value': '171491'},
          {'date': '2001-07-01', 'value': '144702'},
          {'date': '2001-06-01', 'value': '188450'},
          {'date': '2001-05-01', 'value': '180620'},
          {'date': '2001-04-01', 'value': '166962'},
          {'date': '2001-03-01', 'value': '201321'},
          {'date': '2001-02-01', 'value': '176646'},
          {'date': '2001-01-01', 'value': '167108'},
          {'date': '2000-12-01', 'value': '192978'},
          {'date': '2000-11-01', 'value': '185475'},
          {'date': '2000-10-01', 'value': '187704'},
          {'date': '2000-09-01', 'value': '210685'},
          {'date': '2000-08-01', 'value': '187688'},
          {'date': '2000-07-01', 'value': '159903'},
          {'date': '2000-06-01', 'value': '237143'},
          {'date': '2000-05-01', 'value': '190188'},
          {'date': '2000-04-01', 'value': '186872'},
          {'date': '2000-03-01', 'value': '212974'},
          {'date': '2000-02-01', 'value': '189153'},
          {'date': '2000-01-01', 'value': '185813'},
          {'date': '1999-12-01', 'value': '202677'},
          {'date': '1999-11-01', 'value': '183986'},
          {'date': '1999-10-01', 'value': '193889'},
          {'date': '1999-09-01', 'value': '202427'},
          {'date': '1999-08-01', 'value': '186590'},
          {'date': '1999-07-01', 'value': '159656'},
          {'date': '1999-06-01', 'value': '198372'},
          {'date': '1999-05-01', 'value': '182326'},
          {'date': '1999-04-01', 'value': '180224'},
          {'date': '1999-03-01', 'value': '204755'},
          {'date': '1999-02-01', 'value': '185255'},
          {'date': '1999-01-01', 'value': '171934'},
          {'date': '1998-12-01', 'value': '185472'},
          {'date': '1998-11-01', 'value': '177925'},
          {'date': '1998-10-01', 'value': '181357'},
          {'date': '1998-09-01', 'value': '193961'},
          {'date': '1998-08-01', 'value': '173662'},
          {'date': '1998-07-01', 'value': '145785'},
          {'date': '1998-06-01', 'value': '187991'},
          {'date': '1998-05-01', 'value': '175154'},
          {'date': '1998-04-01', 'value': '178239'},
          {'date': '1998-03-01', 'value': '193649'},
          {'date': '1998-02-01', 'value': '182332'},
          {'date': '1998-01-01', 'value': '164391'},
          {'date': '1997-12-01', 'value': '179906'},
          {'date': '1997-11-01', 'value': '185230'},
          {'date': '1997-10-01', 'value': '183393'},
          {'date': '1997-09-01', 'value': '190959'},
          {'date': '1997-08-01', 'value': '170465'},
          {'date': '1997-07-01', 'value': '150782'},
          {'date': '1997-06-01', 'value': '187205'},
          {'date': '1997-05-01', 'value': '165694'},
          {'date': '1997-04-01', 'value': '170687'},
          {'date': '1997-03-01', 'value': '180530'},
          {'date': '1997-02-01', 'value': '172311'},
          {'date': '1997-01-01', 'value': '155358'},
          {'date': '1996-12-01', 'value': '166228'},
          {'date': '1996-11-01', 'value': '168650'},
          {'date': '1996-10-01', 'value': '169459'},
          {'date': '1996-09-01', 'value': '174797'},
          {'date': '1996-08-01', 'value': '153637'},
          {'date': '1996-07-01', 'value': '138374'},
          {'date': '1996-06-01', 'value': '172897'},
          {'date': '1996-05-01', 'value': '163769'},
          {'date': '1996-04-01', 'value': '155093'},
          {'date': '1996-03-01', 'value': '176264'},
          {'date': '1996-02-01', 'value': '159185'},
          {'date': '1996-01-01', 'value': '150440'},
          {'date': '1995-12-01', 'value': '163769'},
          {'date': '1995-11-01', 'value': '156881'},
          {'date': '1995-10-01', 'value': '158469'},
          {'date': '1995-09-01', 'value': '168324'},
          {'date': '1995-08-01', 'value': '151465'},
          {'date': '1995-07-01', 'value': '123259'},
          {'date': '1995-06-01', 'value': '161688'},
          {'date': '1995-05-01', 'value': '151770'},
          {'date': '1995-04-01', 'value': '146225'},
          {'date': '1995-03-01', 'value': '167745'},
          {'date': '1995-02-01', 'value': '156606'},
          {'date': '1995-01-01', 'value': '143440'},
          {'date': '1994-12-01', 'value': '154895'},
          {'date': '1994-11-01', 'value': '150202'},
          {'date': '1994-10-01', 'value': '151572'},
          {'date': '1994-09-01', 'value': '153625'},
          {'date': '1994-08-01', 'value': '142852'},
          {'date': '1994-07-01', 'value': '119501'},
          {'date': '1994-06-01', 'value': '155070'},
          {'date': '1994-05-01', 'value': '140366'},
          {'date': '1994-04-01', 'value': '137847'},
          {'date': '1994-03-01', 'value': '149256'},
          {'date': '1994-02-01', 'value': '139057'},
          {'date': '1994-01-01', 'value': '131392'},
          {'date': '1993-12-01', 'value': '138273'},
          {'date': '1993-11-01', 'value': '131460'},
          {'date': '1993-10-01', 'value': '135483'},
          {'date': '1993-09-01', 'value': '134114'},
          {'date': '1993-08-01', 'value': '124150'},
          {'date': '1993-07-01', 'value': '107698'},
          {'date': '1993-06-01', 'value': '138459'},
          {'date': '1993-05-01', 'value': '123210'},

In [5]:
monthly_durable_goods_df = pd.DataFrame(data['data'])
monthly_durable_goods_df.head()

         date     value
0  2024-08-01  289211.0
1  2024-07-01  268942.0
2  2024-06-01  287595.0
3  2024-05-01  284736.0
4  2024-04-01  275566.0

In [6]:
monthly_durable_goods_df.to_csv(f'monthly_durable_goods.csv', index=False)